body {
    background: #93dae3;
  }

h1 {
    text-shadow: 3px 3px 3px rgb(34, 108, 117);
    text-align:center;
    font-family: 'Monoton';
    font-style: normal;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  li a:hover {
    background-color: #111;
  }

  #logo {
    border-radius: 50%;
  }