body {
    background: #93dae3;
    margin: 0;
    padding: 0;
  }

h1 {
    /*text-shadow: 3px 3px 3px rgb(34, 108, 117);*/
    text-align:center;
    font-family:  sans-serif;
    font-size: 32px;
    font-weight: 300;
    
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    margin: 0;
    padding: 0;
  }
  
  li {
    float: left;
    margin: 0;
    padding: 0;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
  }
  
  
  li a:hover {
    background-color: #111;
  }

  #logo {
    border-radius: 100%;
    width: 30px;
    height: 30px;
  }

  .head img {
    border-radius: 100%;
    display: block;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 0 auto;
  }

  .head {
    background-color: #a7e7ce;
    padding: 40px;
    position: relative;
  }

  .welcome {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    padding: 50px;
    font-size: 32px;
    font-weight: 300;
  }

  footer {
    background-color: white;
    padding: 100px;
  }

  footer ul {
    list-style-type: none;
    overflow: hidden;
    background-color: white;
    margin: 0;
    padding: 0;
  }

  img.social{
    width: 40px;
    height: 40px;
  }

  #twitter {
    width: 45px;
    height: 45px;
  }