body {
  background: #43bccd;
}


nav {
    background-color: #662e9b;
    border-bottom: 1px solid #662e9b;
    position: static;
    width: 100%;
  }

nav a {
  text-decoration:none;
  color:#FFF;
  font-size:14px;
  }

ul {
    text-align: center;
}

li {
    color: #FFF;
    font-family: Cambria;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
    width: 170px;  
  }

  