body {
  background: #43bccd;
}

nav {
    position: static;
    width: 100%;
    margin: 0;
  }

nav a {
  text-decoration:none;
  color:#FFF;
  font-size:14px;
  padding: 30px;
  }

ul {
  background-color: #662e9b;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  color: #FFF;
  font-family: Cambria;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  width: 90px; 
  padding: 0;
}

nav a:hover {
  color: black;
}